site_name: TrafficFlowAICloud
repo_name: TrafficFlowAICloud

site_description: >-
    TrafficFlowAICloud
    

nav:
    - 项目首页:
      - 首页: index.md
      - 注意事项: 注意事项.md
    - 用户手册:
      - 视频库: 用户手册/视频库.md
      - 视频配置: 用户手册/视频配置.md
      - 流量分析: 用户手册/流量分析.md
      - 轨迹分析: 用户手册/轨迹分析.md
      - 冲突分析: 用户手册/冲突分析.md
    - 快速开始:
        - 交叉口流量分析(高空视口): 快速开始/交叉口流量分析(高空视口).md
        - 交叉口流量分析(地面视口): 快速开始/交叉口流量分析(地面视口).md
        - 路段轨迹分析(高空视口): 快速开始/路段轨迹分析(高空视口).md


# 选择主题，例如官方主题


theme:
  logo: _static/APP图标-正常.svg
  favicon: _static/APP图标-正常.svg
  name: material
  palette:
    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

#  custom_dir: diy/
  font:
    text: Roboto
    code: Roboto Mono

#  logo: assets/images/gti.svg
  icon:
    annotation: material/arrow-right-circle
    repo: fontawesome/brands/git-alt

  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.path
    - navigation.sections
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - navigation.expand
    - navigation.top
    - navigation.indexes
    - navigation.prune
#    - toc.integrate

    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

# 启用搜索功能
plugins:
  - search
  - mkdocstrings

markdown_extensions:
  - def_list
  - tables
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.details
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde

copyright: Copyright &copy; 2025 ZheChengData